{% extends "base.html" %}
{% block content %}
<div class="container">

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-table-1">V项目-Database</span>
            </div>
            <div class="mws-panel-body">
                <div class="mws-panel-content">
                    <a  href="/digest/caegi-v-mysql01" class="mws-button gray mws-i-24 i-archive large">caegi-v-mysql01</a>

                    <a  href="/digest/caegi-v-mysql02" class="mws-button gray mws-i-24 i-archive large">caegi-v-mysql02</a>

                    <a  href="/digest/caegi-v-mysql03" class="mws-button gray mws-i-24 i-archive large">caegi-v-mysql03</a>
                </div>

            </div>
        </div>

</div>
{% endblock %}

{#{% for priv in function_privilege %}#}
{#{% if priv['w_priv'] == '1' %}#}
{#<a class='mws-button green' href='/redis/add/{{ session['project_dic'][priv['pid']]['prj_keys'] }}/'>{{ session['project_dic'][priv['pid']]['prj_name'] }}申请</a>#}
{#{% endif %}#}
{#{% endfor %}#}