<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
{#     <link href="/resources/css/domain_set.css" rel="stylesheet" type="text/css"/>#}
{#     <link href="/resources/css/bootstrap.css" rel="stylesheet">#}
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-edit"></i>批量添加域名</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form role="form" id="DomainForm" action="/domain/add/" method="post">
                <div class="row">

                    <div class="form-group col-md-5">
                        <div class="controls form-group row">
                            <div class="col-md-3">
                                <label class="control-label parallel-label" for="project_name">* 所属项目</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control " id="project_name" name="project_name">
                                <option value="" selected="selected">-- 请选择所属项目 --</option>
                                <option value="V项目">V项目</option>
                                </select>
                            </div>
                        </div>



                        <div class="controls form-group row">
                            <div class="col-md-3">
                                <label class="control-label parallel-label" for="">源IP</label>
                            </div>
                            <div class="col-md-8">
                                www <input class="form-control" id="www_ip" name="www_ip" type="text" value=""><br>
                                v <input class="form-control" id="v_ip" name="v_ip" type="text" value=""><br>
                                s <input class="form-control" id="s_ip" name="s_ip" type="text" value=""><br>
                                p1 <input class="form-control" id="p1_ip" name="p1_ip" type="text" value="">

                            </div>
                        </div>


                        <div class="controls form-group row">
                            <div class="col-md-3">
                                <label class="control-label parallel-label" for="fuction">用途</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="fuction" maxlength="254" name="fuction" placeholder="请输入用途" type="text">
                            </div>
                        </div>

                        <div class="controls form-group row">
                            <div class="col-md-3">
                                <label class="control-label parallel-label" for="cooments">备注</label>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control " cols="120" id="comments" name="comments" placeholder="请输入备注" rows="4" style="resize:vertical;"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-7">
                        <label class="control-label" for="">* 域名列表</label>
                        <div class="controls">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <textarea class="form-control " cols="120" id="id_name" maxlength="4096" name="domain_name" placeholder="请输入域名,如果有多个域名,请以回车分隔" rows="20" style="resize:vertical;"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <ul id="domains" class="list"></ul>
                            </div>
                        </div>
                    </div>




                    <div class="form-group col-md-12">
                        <div class="form-actions">
                          <button type="submit"  class="btn btn-primary">保 存</button>
                          <button type="reset"  class="btn">重 置</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div><!--/col-->
</div>
</body>
</html>