{% extends "base.html" %}
{% block content %}
<div id="main-content">
    <div class="content-box-content">
        <table border=1>
                    <thead>
                        <th>&nbsp;</th>
                        <th>项目</th>
                        <th>域名</th>
                        <th>子域名</th>
                         <th>域名状态</th>
{#                        <th>原IP</th>#}
                        <th>是否开放给运营</th>
                        <th>用途</th>
                        <th>备注</th>
                        <th>域名解析</th>
                        <th>过期时间</th>
                        <th>其他信息</th>

                    </thead>
                    <tbody>
                        {% for domain in domain_return_list %}
                            <tr>
                                <td><input type="checkbox" name="{{ domain.domain_id }}"></td>
                                <td>{{domain.project_name}}</td>
                                <td>{{domain.domain_name}}</td>
                                <td>{{domain.subdomain | safe}}</td>
                                <td>{{domain.status}}</td>
{#                                <td>{{domain.ip_source}}</td>#}
                                <td>{{domain.is_public}}</td>
                                <td>{{domain.functions}}</td>

{#                                <td>{% if domain.cdn_hightanti %}{{domain.cdn_hightanti}}{% endif %}</td>#}
                                {% if domain.comments %}
                                <td><pre> <a href="/domain/{{domain.domain_id}}" title='{{domain.comments}}'>{{domain.comments[0:20]}}</a></pre></td>
                                {% else %}
                                <td><pre> <a href="/domain/{{domain.domain_id}}" title='添加'>添加</a></pre></td>
                                {% endif %}
                                <td>{{domain.domain_DNS}}</td>
                                <td>{{domain.expiration}}</td>



                                <td><a href="#messages{{domain.domain_id}}" rel="modal">查看</a></td>
                                  <div  id="messages{{domain.domain_id}}" style="display: none; ">
                                    <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
                                    <h3>信息</h3>
                                    <p>
                                        注册商    :    {{domain.register}} <br />
                                        注册时间 :      {{domain.register_date}}

                                    </p>
                                  </div>
                                  <!-- End #messages -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

    </div>
</div>
{% endblock %}