{% extends "base.html" %}
{% block content %}

    <div id="main-content">
        <!-- Main Content Section with everything -->
        <!-- Start Content Box -->
        <div class="content-box-header">
            <h3>域名信息:</h3>
            <div class="clear"></div>
        </div>
        <!-- End .content-box-header -->

        <div class="content-box-content">
		<a href="/domain/"> <<回到分组</a> <br /><br />
            <table border=1>
                    <thead>

                        <th>项目</th>
                        <th>域名</th>
                        <th>子域名</th>
                         <th>域名状态</th>
{#                        <th>原IP</th>#}

                        <th>用途</th>
                        <th>域名解析</th>
                        <th>过期时间</th>
                        <th>其他信息</th>

                    </thead>
                    <tbody>
                        {% for domain in domain_return_list %}
                            <tr>

                                <td>{{domain.project_name}}</td>
                                <td>{{domain.domain_name}}</td>
                                <td>{{domain.subdomain | safe}}</td>
                                <td>{{domain.status}}</td>
{#                                <td>{{domain.ip_source}}</td>#}

                                <td>{{domain.functions}}</td>

{#                                <td>{% if domain.cdn_hightanti %}{{domain.cdn_hightanti}}{% endif %}</td>#}

                                <td>{{domain.domain_DNS}}</td>
                                <td>{{domain.expiration}}</td>



                                <td><a href="#messages{{domain.domain_id}}" rel="modal">查看</a></td>
                                  <div  id="messages{{domain.domain_id}}" style="display: none; ">
                                    <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
                                    <h3>信息</h3>
                                    <p>
                                        注册商    :    {{domain.register}} <br />
                                        注册时间 :      {{domain.register_date}}

                                    </p>
                                  </div>
                                  <!-- End #messages -->
                            </tr>

                    </tbody>
                </table>
        </div>
        <br/>
        <form action="/domain/comments/{{domain.domain_id}}" method="POST">
            comment:<textarea cols="60" rows="10" name="comments">{{domain.comments}}</textarea>
            <input type="submit" value="Submit" />
        </form>
        <ul>
            {% for comment in comment_list %}
                <li>------ {{comment.update_time}} ------ ------
					<pre> {{comment.history}} </pre>
				</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

{% endblock %}

