{% extends "base.html" %}
{% block content %}

    <div class="mws-panel grid_8" id="mian-content">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-table-1">域名信息</span>
                    </div>
                    <div class="mws-panel-body">
                        <table class="mws-datatable-fn mws-table">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>域名</th>
                                    <th>域名状态</th>
                                    <th>运营用途</th>
                                    <th>过期时间</th>
                                    <th>其他信息</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for domain in domain_return_list %}
                            <tr class="gradeA">

                                <td><input type="checkbox" name="url" value="{{ domain.domain_name }}" /></td>
                                <td>{{domain.domain_name}}</td>
                                {% if domain.status == '已解析' %}
                                <td><span style="color: #5092C7">{{domain.status}}</span></td>
                                {% else %}
                                <td><span style="color: #A4A4A4">{{domain.status}}</span></td>
                                {% endif %}

                                <td>{{domain.op_comments[0:20]}}</td>

                                {% if domain.expiration | Expiration  == 'True'%}
                                <td><font color="red">{{domain.expiration}}</font></td>
                                {% else %}
                                <td>{{domain.expiration}}</td>
                                {% endif %}


                                  <td>
                                  <input type="button" class="mws-button blue mws-pop" value="查看" data-dialogid="messages{{domain.domain_id}}" />
                                  <div  id="messages{{domain.domain_id}}" class="mws-dialog nws-hide">
                                    <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
                                    <h3>信息</h3>
                                    <p>
                                        注册商    :    {{domain.register}} <br />
                                        注册时间 :      {{domain.register_date}}

                                    </p>
                                  </div>
                                  </td>
                                  <!-- End #messages -->
                            </tr>
{#                                {% endfor %}#}
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    <form action="/op/domain/comments/{{domain.domain_id}}" method="POST">
                        comment:<textarea cols="300" rows="10" name="op_comments">{{domain.op_comments}}</textarea>
                        <input type="submit" value="Submit" />
                    </form>

                    {% endfor %}
                </div>
    <div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-table-1">Comment历史记录</span>
                    </div>
                    <div class="mws-panel-body">
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>运营用途</th>
                                    <th>修改人</th>
                                    <th>时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for history in domain_history_list %}
                                <tr class="gradeX even">
                                    <td>{{ history.history_id }}</td>
                                    <td>{{ history.history_op_comments }}</td>
                                    <td>{{ history.history_user }}</td>
                                    <td>{{ history.history_time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


<script>
$(function(){
    $(".mws-dialog").dialog({
        autoOpen: false,
        title: "",
        modal: true,
        width: 500,
        buttons: [{
            text: "关闭",
            click: function() {
                $( this ).dialog( "close" );
            }}]
    });
    $(".mws-table .mws-pop").bind("click", function(event) {
        var id = $(this).data('dialogid');
        $("#"+id).dialog("option", {modal: true}).dialog("open");
        event.preventDefault();
    });

    /* Data Tables */

    $(".mws-datatable").dataTable();
    $(".mws-datatable-fn").dataTable({sPaginationType: "full_numbers"});
})
</script>
{% endblock %}

