{% extends "base.html" %}
{% block content %}
<div class="mws-panel grid_8" id="mian-content">
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-list">批量修改域名</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" action="">
                <div class="mws-form-inline grid_3">
                    <div class="mws-form-row">
                        <label>所属项目</label>
                        <div class="mws-form-item normal">
                            <ul class="mws-form-domain">
                                <li>www.baidu.com</li>
                                <li>www.ceshi.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mws-form-row">
                            <label>源IP</label>
                            <div class="mws-form-item normal">
                                <div class="mws-form-row">
                                    <label>www</label>
                                    <input id="www_ip" name="www_ip" type="text" class="mws-textinput" />
                                </div>
                                <div class="mws-form-row">
                                    <label>v</label>
                                    <input id="v_ip" name="v_ip" type="text" class="mws-textinput" />
                                </div>
                                <div class="mws-form-row">
                                    <label>s</label>
                                    <input id="s_ip" name="s_ip" type="text" class="mws-textinput" />
                                </div>
                                <div class="mws-form-row">
                                    <label>p1</label>
                                    <input id="p1_ip" name="p1_ip" type="text" class="mws-textinput" />
                                </div>
                            </div>
                    </div>
                    <div class="mws-form-row">
                        <label>用途</label>
                        <div class="mws-form-item large">
                            <input type="text" class="mws-textinput" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>备注</label>
                        <div class="mws-form-item large">
                            <textarea rows="100%" cols="100%"></textarea>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="mws-button-row">
                    <input type="submit" value="保存" class="mws-button green" />
                    <input type="button" value="取消" class="mws-button gray" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}