{% extends "base.html" %}
{% block content %}
<div class="mws-panel grid_8" id="mian-content">
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-list">批量修改域名</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" role="form" id="DomainUpdateForm" action="/domain/update/" method="post">
                <div class="mws-form-inline grid_3">
                    <div class="mws-form-row">
                        <label>主域名</label>
                        <div class="mws-form-item normal">
                            <ul class="mws-form-domain">
                                {% for domain in domain_list %}
                                <li>{{ domain }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <input type="hidden" name="page" value="DomainUpdate" />
                    </div>
                    <div class="mws-form-row">
                            <label>源IP</label>
                            <div class="mws-form-item normal">
                                <div class="mws-form-row">
                                    <label>www</label>
                                    <input id="www_ip" name="www_ip" type="text" class="mws-textinput" />
                                </div>
                                <div class="mws-form-row">
                                    <label>v</label>
                                    <input id="v_ip" name="v_ip" type="text" class="mws-textinput" />
                                </div>
                                <div class="mws-form-row">
                                    <label>s</label>
                                    <input id="s_ip" name="s_ip" type="text" class="mws-textinput" />
                                </div>
                                <div class="mws-form-row">
                                    <label>p1</label>
                                    <input id="p1_ip" name="p1_ip" type="text" class="mws-textinput" />
                                </div>
                            </div>
                    </div>
                    <div class="mws-form-row">
                        <label>用途</label>
                        <div class="mws-form-item large">
                            <input type="text" name="fuction" class="mws-textinput" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>备注</label>
                        <div class="mws-form-item large">
                            <textarea rows="100%" name="comments" cols="100%"></textarea>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="mws-button-row">
                    <button type="submit" class="mws-button green">保存</button>
                    <button type="reset"  class="mws-button red">重 置</button>
                    <a type="button" href="/domain/" style="text-decoration: none;" class="mws-button gray" >取消</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}