<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="/resources/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/resources/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/resources/css/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/resources/css/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="/resources/css/mws.style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/resources/css/icons/icons.css" media="screen" />

<!-- Demo and Plugin Stylesheets -->
<link rel="stylesheet" type="text/css" href="/resources/css/demo.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/resources/css/mws.theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/resources/css/jui/jquery.ui.css" media="screen" />

<script type="text/javascript" src="/resources/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/resources/js/jquery-ui.js"></script>
<script type="text/javascript" src="/resources/plugins/jquery.dataTables.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/resources/plugins/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/resources/js/mws.js"></script>


        {% if title %}
            <title>FxxOPS - {{title}}</title>
        {% else %}
            <title>FxxOPS</title>
        {% endif %}

</head>

<body>

	<div id="mws-header" class="clearfix">
    	<div id="mws-logo-container">
        	<div id="mws-logo-wrap">
            	<img src="/resources/images/logo.png" alt="mws admin" />
			</div>
        </div>

        <div id="mws-user-tools" class="clearfix">
        	<!--<div id="mws-user-notif" class="mws-dropdown-menu">-->
            	<!--<a href="#" class="mws-i-24 i-alert-2 mws-dropdown-trigger">Notifications</a>-->
                <!--<span class="mws-dropdown-notif">35</span>-->
                <!--<div class="mws-dropdown-box">-->
                	<!--<div class="mws-dropdown-content">-->
                        <!--<ul class="mws-notifications">-->
                        	<!--<li class="read">-->
                            	<!--<a href="#">-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        	<!--<li class="read">-->
                            	<!--<a href="#">-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        	<!--<li class="unread">-->
                            	<!--<a href="#">-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        	<!--<li class="unread">-->
                            	<!--<a href="#">-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<div class="mws-dropdown-viewall">-->
	                        <!--<a href="#">View All Notifications</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="mws-user-message" class="mws-dropdown-menu">-->
            	<!--<a href="#" class="mws-i-24 i-message mws-dropdown-trigger">Messages</a>-->
                <!--<span class="mws-dropdown-notif">35</span>-->
                <!--<div class="mws-dropdown-box">-->
                	<!--<div class="mws-dropdown-content">-->
                        <!--<ul class="mws-messages">-->
                        	<!--<li class="read">-->
                            	<!--<a href="#">-->
                                    <!--<span class="sender">John Doe</span>-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        	<!--<li class="read">-->
                            	<!--<a href="#">-->
                                    <!--<span class="sender">John Doe</span>-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        	<!--<li class="unread">-->
                            	<!--<a href="#">-->
                                    <!--<span class="sender">John Doe</span>-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        	<!--<li class="unread">-->
                            	<!--<a href="#">-->
                                    <!--<span class="sender">John Doe</span>-->
                                    <!--<span class="message">-->
                                        <!--Lorem ipsum dolor sit amet-->
                                    <!--</span>-->
                                    <!--<span class="time">-->
                                        <!--January 21, 2012-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<div class="mws-dropdown-viewall">-->
	                        <!--<a href="#">View All Messages</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div id="mws-user-info" class="mws-inset">
            	<div id="mws-user-photo">
                	<img src="/resources/images/profile.jpg" alt="User Photo" />
                </div>
                <div id="mws-user-functions">
                    <div id="mws-username">
                        Welcome, {{session["user_name"]}}
                    </div>
                    <ul>
                    	{# <li><a href="#">Profile</a></li> #}
                        {# <li><a href="#">Change Password</a></li> #}
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="mws-wrapper">
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        <div id="mws-sidebar">
        	<div id="mws-searchbox" class="mws-inset">
            	<form action="./">
                	<input type="text" class="mws-search-input" />
                    <input type="submit" class="mws-search-submit" />
                </form>
            </div>
            <div id="mws-navigation">
            	<ul>
                	<li><a href="/" class="mws-i-24 i-home">回到首页</a></li>
{#                	<li><a href="" class="mws-i-24 i-clock-1">操作历史</a></li>#}
{#                	<li><a href="" class="mws-i-24 i-multiple-users">权限管理</a></li>#}
{#                	<li><a href="" class="mws-i-24 i-file-cabinet">分组管理</a></li>#}

{#                	<li class="active"><a href="/server/" class="mws-i-24 i-table-1">服务器信息</a></li> #}
                	<li class="active"><a href="/domain/" class="mws-i-24 i-table-1">域名管理</a></li>
                	<li class="active"><a href="/digest/" class="mws-i-24 i-table-1">Query-Digest-UI</a></li>
                	<li class="active"><a href="/redis/" class="mws-i-24 i-table-1">Redis</a></li>
                    <li><a href="/logout" class="mws-i-24 i-running-man">退出</a></li>
                </ul>
            </div>
        </div>

        <div id="mws-container" class="clearfix">
            <div class="container">

            	{% block content %}{% endblock %}


            </div>

        </div>


    </div>
</body>
</html>
