{% extends "base.html" %}
{% block content %}
        <div class="mws-panel grid_8" id="mian-content">
            <div class="mws-panel grid_8">
                <div class="mws-panel-header">
                    <span class="mws-i-24 i-list">常用操作</span>
                </div>
                <div class="mws-panel-body">
                    <div class="mws-form" >
                        <div class="mws-form-inline">
                            <div class="mws-form-row">
                                <div class="index-main-urls">
                                    <a target="_blank"  href="http://50.117.12.10/">CAEGI zabbix监控</a>
                                    <a target="_blank"  href="https://cp.dnsmadeeasy.com/">dnsmadeeasy</a>
                                    <a target="_blank"  href="http://elk.ops.org/">V-ELK（50.117.12.10 elk.ops.org )</a>
                                    <a target="_blank"  href="https://www.voxility.com/login">Voxility攻击查询</a>
                                    <a target="_blank"  href="">CAEGI 机房报障ticket系统</a>
                                    <a target="_blank"  href="http://opsblog.kj.com/">OPS@KL 运维blog（10.1.100.205  opsblog.kj.com）</a>
                                    <a target="_blank"  href="http://www.17ce.com/">17测</a>
                                    <a target="_blank"  href="http://ce.cloud.360.cn/">奇云测</a>
                                    <a target="_blank"  href="http://ip138.com/">IP138</a>
                                    <a target="_blank"  href="http://blockedinchina.net/">blockedinchina</a>
                                    <a target="_blank"  href="http://www.checkgfw.com/">checkgfw</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}