<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
    <head>
            <title>Welcome to FxxOPS</title>

                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

                <!-- Required Stylesheets -->
                <link rel="stylesheet" type="text/css" href="resources/css/reset.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/css/text.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/css/fonts/ptsans/stylesheet.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/css/fluid.css" media="screen" />

                <link rel="stylesheet" type="text/css" href="resources/css/mws.style.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/css/icons/icons.css" media="screen" />

                <!-- Demo and Plugin Stylesheets -->
                <link rel="stylesheet" type="text/css" href="resources/css/demo.css" media="screen" />

                <link rel="stylesheet" type="text/css" href="resources/plugins/colorpicker/colorpicker.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/plugins/jimgareaselect/css/imgareaselect-default.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/plugins/fullcalendar/fullcalendar.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/plugins/fullcalendar/fullcalendar.print.css" media="print" />
                <link rel="stylesheet" type="text/css" href="resources/plugins/tipsy/tipsy.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/plugins/sourcerer/Sourcerer-1.2.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/plugins/jgrowl/jquery.jgrowl.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/plugins/spinner/spinner.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/css/jui/jquery.ui.css" media="screen" />

                <!-- Theme Stylesheet -->
                <link rel="stylesheet" type="text/css" href="resources/css/mws.theme.css" media="screen" />

                <!-- JavaScript Plugins -->

                <script type="text/javascript" src="resources/js/jquery-1.7.1.min.js"></script>

                <script type="text/javascript" src="resources/plugins/jimgareaselect/jquery.imgareaselect.min.js"></script>
                <script type="text/javascript" src="resources/plugins/jquery.dualListBox-1.3.min.js"></script>
                <script type="text/javascript" src="resources/plugins/jgrowl/jquery.jgrowl.js"></script>
                <script type="text/javascript" src="resources/plugins/jquery.filestyle.js"></script>
                <script type="text/javascript" src="resources/plugins/fullcalendar/fullcalendar.min.js"></script>
                <script type="text/javascript" src="resources/plugins/jquery.dataTables.js"></script>
                <!--[if lt IE 9]>
                <script type="text/javascript" src="resources/plugins/flot/excanvas.min.js"></script>
                <![endif]-->
                <script type="text/javascript" src="resources/plugins/flot/jquery.flot.min.js"></script>
                <script type="text/javascript" src="resources/plugins/flot/jquery.flot.pie.min.js"></script>
                <script type="text/javascript" src="resources/plugins/flot/jquery.flot.stack.min.js"></script>
                <script type="text/javascript" src="resources/plugins/flot/jquery.flot.resize.min.js"></script>
                <script type="text/javascript" src="resources/plugins/colorpicker/colorpicker.js"></script>
                <script type="text/javascript" src="resources/plugins/tipsy/jquery.tipsy.js"></script>
                <script type="text/javascript" src="resources/plugins/sourcerer/Sourcerer-1.2.js"></script>
                <script type="text/javascript" src="resources/plugins/jquery.placeholder.js"></script>
                <script type="text/javascript" src="resources/plugins/jquery.validate.js"></script>
                <script type="text/javascript" src="resources/plugins/jquery.mousewheel.js"></script>
                <script type="text/javascript" src="resources/plugins/spinner/ui.spinner.js"></script>
                <script type="text/javascript" src="resources/js/jquery-ui.js"></script>

                <script type="text/javascript" src="resources/js/mws.js"></script>
                <script type="text/javascript" src="resources/js/demo.js"></script>
                <script type="text/javascript" src="resources/js/themer.js"></script>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $("div#mws-login .mws-login-back").mouseover(function(event) {
                            $(this).find("a").animate({'left':0})
                        }).mouseout(function(event) {
                            $(this).find("a").animate({'left':70})
                        });
                    });
                </script>
    </head>





<body>

	<div id="mws-login">
    	<h1>Login</h1>
        <div class="mws-login-lock"><img src="resources/css/icons/24/locked-2.png" alt="" /></div>
    	<div id="mws-login-form">
        	<form class="mws-form" action="" method="post">
                <div class="mws-form-row">
                	<div class="mws-form-item large">
                        {{form.strUser(size=20,class_="mws-login-username mws-textinput",placeholder="username" )}}
                    </div>
                </div>
                <div class="mws-form-row">
                	<div class="mws-form-item large">
                        {{form.strPassword(size=20,class_="mws-login-password mws-textinput",placeholder="password")}}
                    </div>
                </div>
                <div class="mws-form-row">
                	<input type="submit" value="Login" class="mws-button green mws-login-button" />
                </div>
            </form>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li style="color:ffffff">{{ message}} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
        </div>

    </div>

</body>

</html>