{% extends "base.html" %}
{% block content %}

<div class="mws-panel grid_8" id="mian-content">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">域名列表</span>
    </div>
    <div class="mws-panel-body">
        <table class="mws-datatable-fn mws-table" id="{{ session['user_id'] }}">
            <thead>
            <tr>
                <th>ID</th>
                <th>一级页面</th>
                <th>二级页面</th>
                <th>URL</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            {%  for menu in menu_list %}
                {% if menu.menu_preid != 0 %}
                <tr id="tr{{ menu.menu_id }}">
                    <td>{{ menu.menu_id }}</td>
                    <td>{{ menu.menu_preid |Showlev1MenuName}}</td>
                    <td class="J-fn">{{ menu.menu_name }}</td>
                    <td>{{ menu.menu_url }}</td>
                    <td>
                        <input type="button" class="mws-button blue" value="查看" data-lid="{{ menu.menu_id }}">
                        <div class="mws-dialog" id="dialog{{ menu.menu_id }}" data-lid="{{ menu.menu_id }}">
                            <label>{{ menu.menu_name }}</label><br>
                            <label>全选：</label><input type="checkbox" name="checkAll" />
                            <table>
                                <thead>
                                    <tr>
                                        <th>项目名称</th>
                                        <th class="tx-center">R</th>
                                        <th class="tx-center">W</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prj in menu.menu_pri %}
                                    <tr>
                                        {% if 'video' in prj.keys() %}
                                        <td data-pid="{{ prj['video']['pid'] }}">V项目</td>

                                            {% if prj['video']['r_priv'] == '1' %}
                                            <td class="tx-center"><input type="checkbox" name="R" checked/></td>
                                            {% else  %}
                                            <td class="tx-center"><input type="checkbox" name="R" /></td>
                                            {% endif %}

                                            {% if prj['video']['w_priv'] == '1' %}
                                            <td class="tx-center"><input type="checkbox" name="W" checked/></td>
                                            {% else  %}
                                            <td class="tx-center"><input type="checkbox" name="W" /></td>
                                            {% endif %}


                                        {% elif 'discuze' in prj.keys() %}
                                        <td data-pid="{{ prj['discuze']['pid'] }}">BBS</td>
                                            {% if prj['discuze']['r_priv'] == '1' %}
                                            <td class="tx-center"><input type="checkbox" name="R" checked/></td>
                                            {% else  %}
                                            <td class="tx-center"><input type="checkbox" name="R" /></td>
                                            {% endif %}

                                            {% if prj['discuze']['w_priv'] == '1' %}
                                            <td class="tx-center"><input type="checkbox" name="W" checked/></td>
                                            {% else  %}
                                            <td class="tx-center"><input type="checkbox" name="W" /></td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>



<script>
    $(function(){
        $(".mws-dialog").dialog({
            autoOpen: false,
            title: "",
            modal: true,
            width: 500,
            buttons: [{
                text: "关闭",
                click: function() {
                    $( this ).dialog( "close" );
                }},
                {
                text: "提交",
                click: function() {
                    var lid = $(this).data('lid'),
                        $tr = $('#tr'+lid),
                        datas = {},
                        pArray = [],
                        trRW = $(this).find('table tbody tr');

                    datas.id = lid;
                    datas.fn = $tr.find('td:first').text();
                    trRW.each(function(k,v){
                        var pdatas = {};
                        pdatas.pid = $(this).find('td:first').data('pid');
                        pdatas.R = $(this).find('input[name="R"]').prop('checked') == true ? 1:0;
                        pdatas.W = $(this).find('input[name="W"]').prop('checked') == true ? 1:0;
                        pArray.push(pdatas);
                    });
                    datas.detail = pArray;

                    $.ajax({

                        url: '/privilege/{{ user_id }}',
                        type: 'post',
                        dataType: "json",

                        data:{
                            "data": JSON.stringify(datas)
                        },

                        success: function(res){
                            window.location.reload()
                        },

                        error: function(res){
                            if(window.console){ console.log(res)}
                        }
                    });
                }}]
        });

        /* Data Tables */
        $(".mws-datatable-fn").dataTable({sPaginationType: "full_numbers",asStripeClasses:['sStrBg']});

        // 列表按钮触发事件
        $("table.mws-datatable-fn").on('click',function(e){
            var target = e.target;
            if($(target).hasClass('mws-button')) {
                var dialogid = $(target).data('lid');
                $('#dialog'+dialogid).dialog("option", {modal: true}).dialog("open");
            }
        });

        // 弹出框全选按钮
        $('input[name="checkAll"]').on('click',function(){
            var table = $(this).next(),
                isChecked = $(this).prop('checked'),
                checkboxs = table.find('input[type="checkbox"]');

            checkboxs.each(function(){
                $(this).prop('checked', isChecked);
            })
        });

    });
</script>

{% endblock %}
